<div class="m-5 p-5">
  <div class="text-center" *ngIf="loading; else elseBlock">
    <h3>Loading...</h3>
  </div>
  <ng-template #elseBlock>
    <form class="form text-center">
      <input
        type="file"
        (change)="onChange($event)"
        class="form-control w-25 m-auto"
      />
      <input
        type="button"
        (click)="onUpload()"
        value="Upload!"
        class="btn btn-primary m-3 w-25"
      />
    </form>
    <hr />
    <div class="d-flex align-items-center flex-column text-center">
      <input
        type="button"
        class="btn btn-success m-3 w-25"
        (click)="onDownload()"
        value="Download!"
      />
      <div *ngIf="url">
        <video width="50%" height="auto" controls class="m-auto">
          <source [src]="url | safe" type="video/mp4" />
        </video>
      </div>
    </div>
  </ng-template>
</div>
